.box {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}


.heading {
  font-size: 1.5rem; /* tương đương text-2xl */
  font-weight: 600;   /* tương đương font-semibold */
  margin-bottom: 1.5rem; /* tương đương mb-6 */
  color: #294b61;
  
}

.customTab {
  /* padding: 0.5rem 1rem; */
  font-weight: 500;
  
}

.activeTab {
  background-color: #e0f0ff;
  color: #1c3f5d;
}
